#_12K5pXYhFMLHfaE_mTXwVv {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px; }

#jHuUNR68JxfhoxI7WOjo1 {
  margin-left: 15px; }

#gD-SEtVeiZTmBD_5AqMvn {
  margin-left: 15px;
  width: 60px;
  height: 30px; }

._7VqFaSlWKhvTkXOGQmhp4 {
  width: 400px; }

._2mGcl6zy7O8PZxgs9b5cHw {
  display: inline-block;
  width: 50px; }

._2XTR4Cm2SIgEfZeKFrGIFp ._1wktqZf6JzOIUlM19bmJ10 {
  display: block;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 8px; }

._2XTR4Cm2SIgEfZeKFrGIFp ._2bxMmmrD2CFJSnHataf5Lq {
  font-weight: bold;
  font-size: 10px;
  display: block;
  margin-top: 0px;
  margin-bottom: 2px; }

._3Ij9CJmhUpaoulE2WK4x0v {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: palegoldenrod;
  z-index: 10; }

.cJUZ3sfx7cjALwEhVmCRy {
  top: 0;
  height: 30px; }
  .cJUZ3sfx7cjALwEhVmCRy button {
    width: 80px;
    height: 30px;
    vertical-align: top; }

._23M1SXWvw33VE1AD_t2qPs {
  top: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding-top: 40px; }

#_3vx4ox295YvuuJRuLkZHUt {
  width: 30px;
  height: 30px;
  vertical-align: top; }

#tZSQP538KcCdNtSHTGm8Q table th {
  height: 35px;
  padding: 5px; }

#tZSQP538KcCdNtSHTGm8Q table ._2Rom41LiS7i9JStFQW--yx {
  font-size: smaller;
  text-align: left;
  line-height: 15px; }

#tZSQP538KcCdNtSHTGm8Q table tr:nth-child(odd) {
  background-color: rgba(252, 237, 217, 0.47); }

#tZSQP538KcCdNtSHTGm8Q table tr:nth-child(even) {
  background-color: antiquewhite; }

._2sm_JApHLRriIPl3e5py_o {
  margin-bottom: 10px;
  margin-top: 10px; }
  ._2sm_JApHLRriIPl3e5py_o #_1ZYSPRhQuPwr5YCUTMe7Fa {
    width: auto;
    height: auto;
    display: inline-block; }
  ._2sm_JApHLRriIPl3e5py_o ._3wimEVV0yDHnAtWSw4Usge {
    border: 2px double white;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: white;
    z-index: 5; }
  ._2sm_JApHLRriIPl3e5py_o table {
    border-spacing: 0 0;
    border-collapse: collapse; }
    ._2sm_JApHLRriIPl3e5py_o table th {
      margin: 0px;
      padding: 0px;
      border: 2px solid rgba(0, 0, 0, 0.4); }

.Wif6zgNlSkeVAV1mCfEeg {
  z-index: 2;
  border: solid 1px;
  border-radius: 5px;
  background-color: antiquewhite;
  position: fixed;
  left: 10px;
  top: 50px;
  padding: 10px; }

#tZSQP538KcCdNtSHTGm8Q {
  margin-bottom: 30px; }

._1aA58Q17SThNPPLFAMtyQl {
  bottom: 0;
  height: 30px; }

.xCM1a1RVeZhEGQqPUx5nt {
  bottom: 0;
  height: 100px;
  padding: 10px; }

#_1afgzarRlgjNfESOIXDhOH {
  width: 100%;
  background-color: palegoldenrod;
  padding: 5px;
  bottom: 0; }

#_1Z37IwbPRjG6r0KHXKx6Ji {
  width: 300px;
  left: auto;
  right: auto; }

#_1ae8nsJCz-hizXQEL8dF15 {
  padding: 10px;
  background-size: cover;
  background-image: url("https://i.ebayimg.com/images/g/Rx8AAOSwwhhbMp-p/s-l300.jpg"); }
