.customSelect {
  background-color: antiquewhite;
  border: bisque;
  box-shadow: black 1px 1px 5px;
  overflow-y: auto;
  max-height: 500px;
  padding-left: 10px;
}

.customSelectOption {
  margin: 5px 10px;
  line-height: 22px;
  font-size: 22px;
  display: flex;
  justify-content: right;
}

.customSelectFavorite {
  background-color: coral;
}