@import "const";
@import "menues";
@import "workspace";

body {
  padding: 0;
  margin: 0;
}

#chat_input {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#chat_select {
  margin-left: 15px;
}

#chat_button {
  margin-left: 15px;
  width: 60px;
  height: 30px;
}

.rollers {
  width: 400px;
}

.roller {
  display: inline-block;
  width: 50px;
}

.message {
  .text {
    display: block;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .whowhen {
    font-weight: bold;
    font-size: 10px;
    display: block;
    margin-top: 0px;
    margin-bottom: 2px;
  }
}

.static_element {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: palegoldenrod;
  z-index: 10;
}

.menu {
  top: 0;
  height: $menu_height;

  button {
    width: 60px;
    height: $menu_height;
    vertical-align: top;
  }
}

#logout {
  width: 40px;
  height: 40px;
  vertical-align: top
}

#character_screen table {
  th {
    height: 35px;
    padding: 5px;
  }

  .big_box {
    font-size: smaller;
    text-align: left;
    line-height: 15px;
  }

  tr:nth-child(odd) {
    background-color: rgba(252, 237, 217, 0.47);
  }

  tr:nth-child(even) {
    background-color: antiquewhite;
  }
}

.combat_map {
  margin-bottom: 10px;
  margin-top: 10px;

  #combat_map_background {
    width: auto;
    height: auto;
    display: inline-block;
  }

  .map_object {
    border: 2px double white;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: white;
    z-index: 5;
  }

  table {
    border-spacing: 0 0;
    border-collapse: collapse;
    table-layout: fixed;

    th {
      margin: 0px;
      padding: 0px;
      border: 2px solid rgba(0, 0, 0, 0.4);
    }
  }
}

.popup {
  z-index: 2;
  border: solid 1px;
  border-radius: 5px;
  background-color: antiquewhite;
  position: fixed;
  left: 10px;
  top: 50px;
  padding: 10px;
}

#character_screen {
  margin-bottom: 30px;
}

.combat_menu {
  bottom: 0;
  height: 100px;
  padding: 10px;
}

#zoom_background {
  width: 100%;
  background-color: palegoldenrod;
  padding: 5px;
  bottom: 0;
}

#zoom {
  width: 300px;
  left: auto;
  right: auto;
}

#current_turn_indicator {
  padding: 5px;
  background-size: cover;
  background-image: url("https://i.ebayimg.com/images/g/Rx8AAOSwwhhbMp-p/s-l300.jpg");
}

.dm_initiative {
  display: inline-block;
  margin-left: 10px
}

.dm_initiative_text {
  line-height: 0;
  text-align: center
}

.global_popup {
  position: fixed;
  left: 0;
  top: 0;
  margin: calc(#{$menu_height} + 10px) 0 0;
  width: 100%;
  height: calc(100% - #{$menu_height} - 10px);
  background-color: antiquewhite;

  #global_popup_menu {
    height: 30px;
    width: 100%;
    padding: 5px;
    display: inline;

    div {
      display: inline-block;
      margin-left: 40px;
    }

    button {
      display: inline-block;
      margin-left: 40px;
    }
  }
}

.input_default_text {
  color: grey;
}

.new_special_title {
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
}

.new_special_desc {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-top: 15px;
}

.new_special_save {
  margin-left: 10px;
  margin-top: 10px;
}

.description_with_inject {
  text-align: left;
}

.injected_roller {
  display: inline-block;
  color: darkviolet;
  text-decoration: underline;
}

#music_popup {
  width: 100%;
  height: 100%;
  button {
    margin: 0;
  }
}

@import "youtube";