#youtube_input_url {
  display: block;
  margin-bottom: 10px;
}

#youtube_input_start {
  width: 40px;
  display: block;
  margin-bottom: 10px;
}

.youtube_button {
  display: inline-block;
  width: 70px;
  height: 40px;
}

#youtube_timer {
  margin-top: 10px;
}